#pathogen-menu-id .Select-value-label {
    color: #AAA;
}

#pathogen-menu-id .Select-control {
    width: 10rem;
    font-size: 0.9rem;
    background-color: #222222;
    border: 0px solid #222222;
}

#pathogen-menu-id {
    font-size: 0.8rem;
}

#update-time-id {
    color: #222222;
    font-size: 0.8rem;
}

/* when mouseover to the trend-card, transit to the background color */
.trend-card:hover {
    /* change the line width */
    border: 1px solid #878787;
    /* background-color: #fffdf0; */
    transition: background-color 0.3s ease;
}